@use 'src/styles/_common' as *;

.embedCode {
    @include max-container;

    position: relative;

    & + * {
        margin-top: rem(134);
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: calc(9 / 16 * 100%)
    }

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}