@use 'src/styles/_common' as *;

.container {
    margin-top: rem(140);

    & + * {
        margin-top: rem(130);
    }
}

.containerArticles {
    margin-top: rem(80);
}

.heading {
    padding-top: rem(70);
    border-top: 1px solid $color-black;
    font-family: $font-primary-mono;
    font-size: rem(21);
    text-align: center;
}

@include mq-wide {
    .containerArticles {
        padding-right: rem(50);
        padding-left: rem(50);
    }
}
