@use 'src/styles/_common' as *;

.container {
    & textarea {
        width: 100%;
        min-height: rem(70);
        padding: rem(8);
        border: none;
        border-radius: rem(12);
        color: $color-black;
        font-family: $font-primary-mono;
        font-size: rem(14);
        outline: none;
        resize: none;

        &::placeholder {
            color: $color-red;
        }
    }
}
